@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Product-Sans";
  font-weight: 500;
  src: local("Product-Sans"),
    url(./fonts/Product-Sans/ProductSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Product-Sans";
  font-weight: 600;
  src: local("Product-Sans"),
    url(./fonts/Product-Sans/ProductSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Open-Sans";
  font-weight: 500;
  src: local("Open-Sans"),
    url(./fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.animateIconList {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Glow In */
.animateIconList.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    /* filter: brightness(3) saturate(3); */
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    /* filter: brightness(1) saturate(1); */
    transform: scale(1, 1);
  }
}

.delay-0 {
  animation-delay: 1.4s;
}

.delay-1 {
  animation-delay: 1.6s;
}
.delay-2 {
  animation-delay: 1.8s;
}
.delay-3 {
  animation-delay: 2s;
}

.animateBanner {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animateBanner.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.delay-first {
  animation-delay: 0.8s;
}

.delay-second {
  animation-delay: 0.9s;
}
